{% extends 'index.html' %}

{% block titulo %}
  Página Inicial
{% endblock %}

{% block conteudo %}
  <main class="main-home p-4">
    <section class="container">
      <div class="container home text-center">
        <div class="title">
          <h1 class="text-white home-title"> ASYLUM </h1>
        </div>
        <p class="lead text-white text-center mt-5"> O projeto Asylum é um auxílio tecnológico para os idosos em asilos. O suporte que nós apresentamos é filantrópico, isto é, depende da ajuda de voluntários aos asilos cadastrados. Os voluntários poderão agendar um horário para doar o seu tempo na visita aos idosos e dar atenção e carinho que eles tanto anseiam, bem como desenvolver atividades de lazer com eles ou prestar serviços, como profissionais, para ajudar na saúde deles. O Asylum espera ajudar socialmente e  melhorar a qualidade de vida dessas pessoas que tanto necessitam e merecem esses cuidados.</p>
        <button class="btn btn-cad mt-5"> Cadastre-se </button>
      </div>
    </section>
  </main>
{% endblock %}