<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css" integrity="sha512-o/MhoRPVLExxZjCFVBsm17Pkztkzmh7Dp8k7/3JrtNCHh0AQ489kwpfA3dPSHzKDe8YCuEhxXq3Y71eb/o6amg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  <title>Asylum | {% block titulo %} {% endblock %}</title>
</head>
<body>
  
  <div class="top-header">
    <header class="container mb-0 justify-content-center">
      <nav class="navbar p-4">
        <div>
          <a class="navbar-brand"> <canvas class="logo"></canvas> </a>
        </div>
        
        <div class="nav d-flex justify-content-between">
          <a class="nav-link active mx-3" aria-current="page" href="/">PÁGINA INICIAL</a>
          <a class="nav-link mx-3" href="/informacoes">INFORMAÇÕES</a>
          <a class="nav-link mx-3" href="/mapa" >MAPA</a>
          <a class="nav-link mx-3" href="/doacoes" >DOAÇÕES</a>
          <a class="nav-link mx-3" href="/login">LOGIN</a>
          <a class="nav-link cad mx-3" href="/cadastro">CADASTRO</a>
        </div>
        
      </nav>
    </header>
  </div>
  {% block conteudo %}
  {% endblock %}
  <footer class="text-center p-2">
    <div>
      <p>Asylum - &copy; 2022</p>
    </div>
  </footer>
</body>
</html>